# Importing and manipulating data with Pandas
An initial analysis of AirBnB listings in Brussels.

In [1]:
# this cell contains our library imports
import pandas as pd
import altair as alt

In [2]:
data = pd.read_csv('listings_brussels_20190813.csv')

In [3]:
data

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365
0,2352,"Triplex-2chmbrs,grande sdb,terrasse= tous confort",2582,Oda,Molenbeek-Saint-Jean,50.85787,4.30809,Entire home/apt,93,2,15,2018-12-31,0.23,229
1,2354,COURT/Long- 1chmb+1salon+sdd+terras,2582,Oda,Molenbeek-Saint-Jean,50.85697,4.30651,Entire home/apt,78,2,2,2018-10-28,0.05,340
2,42521,Ixelles: spacious bedroom+boudoir+ensuite bath...,185699,Claire,Ixelles,50.81929,4.38790,Private room,45,2,130,2019-07-28,1.19,283
3,45145,B&B Welcome to my place - 2,199370,Erick,Saint-Josse-ten-Noode,50.85300,4.36971,Private room,70,2,3,2019-04-08,0.03,190
4,48180,Top Apart/location 0 default 2rooms,219560,Ahmet,Woluwe-Saint-Pierre,50.83821,4.40683,Entire home/apt,200,2,0,NaN,NaN,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8923,37706551,Cozy apartment with big terrace,96121923,Jenny,Forest,50.81366,4.32155,Entire home/apt,100,3,0,NaN,NaN,59
8924,37706974,Appartement 2 chambres à Forest gare du midi,24444714,Cedric,Forest,50.81784,4.32686,Entire home/apt,84,3,0,NaN,NaN,362
8925,37707368,Bright Duplex close to EU Institutions,18722558,Fernando,Saint-Josse-ten-Noode,50.84860,4.37296,Entire home/apt,49,4,0,NaN,NaN,18
8926,37710276,Nice room in a beautiful appartement BRU CENTER,234800974,Hicham,Bruxelles,50.85365,4.35426,Private room,45,2,0,NaN,NaN,74
8927,37712866,Lovely Midi Apartment,234854287,Hamza,Bruxelles,50.83736,4.34229,Entire home/apt,102,1,0,NaN,NaN,364